*,
*::before,
*::after{
    box-sizing: border-box;
}

/* Custom Properties */

:root{
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Poppins', monospace;
    
    --fw-reg: 300;
    --fw-med: 400;
    --fw-bold: 600;
    
    --clr-light: #fff;
    --clr-semi-light: rgb(243, 242, 242);
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --surface-color: #fff;
    --curve: 40;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

html{
    scroll-behavior: smooth;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    line-height: 1.6;
    cursor: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

section {
    padding: 5em 2em;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Cursor */
body:hover #custom-cursor {
    opacity: 1;
}
#custom-cursor {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--clr-dark);
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: transform 500ms;
    z-index: 9999;
}

#custom-cursor::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: -22px;
    left: -22px;
    border: 3px solid var(--clr-accent);
    width: 50px;
    height: 50px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 0.85em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title{
    margin-bottom: 0.25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;    
}

/* Loader */
.loader-wrapper{
    height: 100%;
    width: 100%;
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
     
}

.petit {
  font-size:15px;
  margin-top:-20px;
}

#header {
    position: fixed;
    top: 50%;
    margin-top:-50px;
    height: 100px;
    width: 100px;
    left:50%;
    margin-left:-50px;
    background-color:var(--clr-light);
    border-radius:60%;
}
  
#header2 {
    position: fixed;
    top: 50%;
    margin-top:-50px;
    height: 100px;
    width: 100px;
    left:50%;
    margin-left:-50px;
    background-color: #333;
    border-radius:50%;
  } 

#header3 {
   position: fixed;
   top: 50%;
   margin-top:-50px;
   height: 100px;
   width: 100px;
   left:50%;
   margin-left:-50px;
   background-color:#333;
   border-radius:20%;
}

#cercle1 {
   position: fixed;
   top: 50%;
   margin-top:-50px;
   height: 100px;
   width: 100px;
   left:50%;
   margin-left:-50px;
   background-color:white;
   border-radius:50%;
}

/* Scroll bar */

body{
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 1.2vh;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-accent);
}
  
::-webkit-scrollbar-track {
    background: rgba(228, 227, 227, 0);
}
  

  

/* Header */

header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 75px;
}

.nav{
    position: fixed;
    background:var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: none;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}


.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


/* Intro Section */

.intro__img{
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* My Services Section */

.my-services{
    background-color: var(--clr-dark);
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}

.section__title--services{
    color: var(--clr-light);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.2;
}

.services{
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

.resume-btn{
    margin-top: var(--mb-2);
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .service + .service {
        margin-left: 2em;
    }
}


/* About Me */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    
    .section__title--about {
        grid-area: title;
    }
    
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My Skills */

.my-skills {
    max-width: 1000px;
    margin: 0 auto;
}

.skills__container{
    row-gap: 0.5;
  }
  
  .skills__header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: none;
  }
  
  .skills__icon
  {
    font-size: 2rem;
    color: var(--clr-accent);
  }
  
  .skills__icon{
    margin-right: var(--mb-0-75);
    margin-top: var(--mb-0-75);
  }
  
  .skills__title{
    font-size: var(--fs-h3);
    margin-top: var(--mb-2);
  }
  
  .skills__list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
  }
  .skills__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
  }
  
  .skills__name{
    font-size: var(--fs-body);
    font-weight: var(--fw-med);
  }
  
  .skills__bar,
  .skills__percentage{
    height: 5px;
    border-radius: 0.25rem;
  }
  
  .skills__bar{
    background-color: var(--clr-semi-light);
  }
  
  .skills__percentage{
    display: block;
    background-color: var(--clr-accent);
  }
  
  .skills__html{
    width: 85%;
  }
  .skills__css{
    width: 70%;
  }
  .skills__js{
    width: 60%;
  }
  .skills__tailwind{
    width: 60%;
  }
  
  .skills__react{
    width: 20%;
  }
  
  .skills__mysql{
    width: 80%;
  }
  .skills__mongo{
    width: 40%;
  }
  
  .skills__hashnode{
    width: 10%;
  }
  .skills__medium{
    width: 30%;
  }


/* Tech Stack */

.section__subtitle--tech{
    color: var(--clr-accent);
    margin-bottom: var(--mb-2-5);
    font-size: var(--fs-h3);
}
.techs {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.tech_icons {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    /* padding: 2rem 0; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2em;
    justify-items: center;
    font-size: 2rem;
}

@media (max-width: 728px) {
    .tech_icons {
        width: 100%;
        column-gap: 1rem;
        row-gap: 4rem;
    }
  }

.tech_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    cursor: none;
    transform: scale(1);
    transition: all 0.3s;
}

.tech_icon:hover{
    box-shadow: 0px 0px 10px 1px #26262680;
    background: linear-gradient(90deg, var(--clr-accent), var(--clr-dark));
    transform: scale(1.1);
    transition: all 0.3s;
    color: var(--clr-light);
}

.tech_icon i {
    font-size: var(--fs-h2);
    /* padding-bottom: .25em; */
}

.tech_icon p {
    width: 100%;
    font-size: var(--fs-body);
}

@media (max-width: 728px) {
    .tech_icon i {
      font-size: 2rem;
    }
    .tech_icon .material-icons {
      font-size: 2rem;
    }
    .tech_icon .fa-terminal {
      font-size: 2.3rem;
      padding-top: 7px;
      padding-bottom: 0px;
    }
    .tech_icon p {
      font-size: 0.8rem;
    }
  }

/* My Blogs */

.section__subtitle--blog{
    color: var(--clr-accent);
    margin-bottom: var(--mb-2-5);
    font-weight: var(--fw-med);
}

.blogs {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 19.375rem; /* 310px*/ 
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
  }
  
  .card__image {      
    width: 100%;
    height:  14.688rem /* 235px*/
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
     

  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  
  .card__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  


/* My Work */

.container{
    max-width: 969px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.25rem;
    margin-bottom: var(--mb-3);
}

.section__title--work{
    color: var(--clr-light);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.section__subtitle--work{
    color: var(--clr-accent);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.works{
    background-color: var(--clr-dark);
}

.work__container{
    padding-top: 1rem;
}

.work__filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: 2rem;
}

.work__item{
    cursor: pointer;
    color: var(--clr-light);
    padding: 0.25rem 0.75rem;
    font-weight: 400;
    border-radius: 0.5rem;
}

.work__card{
    background-color: #333;
    padding: 1rem;
    border-radius: 1rem;
}

.work__img{
    border-radius: 1rem;
    margin-bottom: 0.75rem;
}

.work__title{
    margin-bottom: 0.25rem;
    color: var(--clr-light);
}

.work__button{
    width: max-content;
    color:var(--clr-accent);
    font-size: 1rem;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.work__button:hover .work__icon{
    transform: translateX(0.25rem);
}

.work__icon{
    font-size: 1rem;
    transition: 0.4s;
}

.active-work{
    background-color: aliceblue;
    color: var(--clr-accent);
}

/* for small devices */
@media screen and (max-width:320px) {
    
    .work__item{
        font-size: 0.75rem;
    }

    .work__filters{
        column-gap: 0.25rem;
    }
}

/* for medium devices */

@media screen and (min-width: 576px){
    .work__container{
        justify-content: center;
    }

    .work__img{
        width: 325px;
        height: 210px;
    }
}

@media screen and (min-width: 767px){
    .work__container{
        grid-template-columns: repeat(2, max-content);
    }
}

/* For large Devices */
@media screen and (min-width: 992px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .section{
        padding: 6.5rem 0 1rem;
    }

    .section__title{
        margin-bottom: 3.5rem;
    }

    .work__container{
        gap: 3rem;
    }

    .work__card{
        padding: 1.25rem;
    }

    .work__img{
        margin-bottom: 1rem;
    }

    .work__title{
        margin-bottom: 0.5rem;
    }
}

/* Fun Facts */
.facts{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
}

.fun-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
    width:50%;
}

.wrapper {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.wrapper .w-card {
    position: relative;
    border-radius: 10px;
}

.wrapper .w-card .w-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.wrapper .w-card:nth-child(1) .w-icon {
    background: var(--clr-semi-light);
}

.wrapper .w-card:nth-child(2) .w-icon {
    background: var(--clr-accent);
}

.wrapper .w-card:nth-child(3) .w-icon {
    background: var(--clr-dark);
}


.wrapper .w-card .w-icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}


.wrapper .w-card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.wrapper .w-card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.wrapper .w-card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.wrapper .w-card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.wrapper .w-card:hover .face.face1 .content {
    opacity: 1;
}

.wrapper .w-card .face.face1 .content i{
    max-width: 100px;
}

.wrapper .w-card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.wrapper .w-card:hover .face.face2{
    transform: translateY(0);
}

.wrapper .w-card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.wrapper .w-card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.wrapper a {
    text-decoration: none;
    color: #414141;
}

/* Footer */
.footer {
    background: #111;
    color: var(--clr-accent);
    padding: 2.5em 0;
    font-size: var(--fs-h3);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.line-1{
    color: var(--clr-accent);
    margin-bottom: var(--mb-0-75);
    font-weight: var(--fw-med);   
}

.line-2{
    color: var(--clr-light);
    width: 900px;
    margin: auto;
    margin-bottom: var(--mb-2-5);
    line-height: 1.2cm;
}

.footer-btn{
    margin-bottom: var(--mb-2-5);
}

.foot-btn{
    background: var(--clr-accent);
}

.footer a { 
    text-decoration: none;
}

.send-icon{
    font-size: 1.2rem;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: 0.7;
}

.footer__link:hover {
    text-decoration: underline;
}

.linkedin,
.twitter,
.codepen,
.dribbble,
.github,
.hashnode,
.medium,
.instagram,
.youtube,
.facebook {
  color: var(--clr-light);
  font-size: 27px;
  margin: 20px;
}

.socialbtns ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:20px;
}

.socialbtns ul li {
  border: 1px solid var(--clr-white);
  margin: 10px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialbtns a {
  text-decoration: none;
}

.socialbtns ul li:hover {
  color: var(--clr-light);
  border: none;
  background: linear-gradient(90deg, var(--clr-accent), var(--clr-dark));
  transition: all 0.5s ease;
}

.credit {
    color: rgb(201, 201, 201);
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 12px;
  }
