<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <link rel="stylesheet" href="index.css">
    <title>Work</title>
</head>
<body>
    <section class="work section" id="work">
        <span class="section__subtitle">My Portfolio</span>
        <h2 class="section__title">Recent Works</h2>

        <div class="work__filters">
            <span class="work__item active-work" data-filter="all">All</span>
            <span class="work__item" data-filter=".web">Web</span>
            <span class="work__item" data-filter=".movil">Movil</span>
            <span class="work__item" data-filter=".design">Design</span>
        </div>

        <div class="work__container container grid">
            <div class="work__card mix web">
                <img src="hero_image.webp" alt="" class="work__img">

                <h3 class="work__title">Web Design</h3>
                <a href="#" class="work__button">
                    Demo <i class='bx bx-right-arrow-alt '></i>
                </a>
            </div>

            <div class="work__card mix movil">
                <img src="hero_image.webp" alt="" class="work__img">
            
                <h3 class="work__title">App Movil</h3>
                <a href="#" class="work__button">
                    Demo <i class='bx bx-right-arrow-alt '></i>
                </a>
            </div>

            <div class="work__card mix design">
                <img src="hero_image.webp" alt="" class="work__img">
            
                <h3 class="work__title">Brand design</h3>
                <a href="#" class="work__button">
                    Demo <i class='bx bx-right-arrow-alt '></i>
                </a>
            </div>

            <div class="work__card mix web">
                <img src="hero_image.webp" alt="" class="work__img">
            
                <h3 class="work__title">Web design</h3>
                <a href="#" class="work__button">
                    Demo <i class='bx bx-right-arrow-alt '></i>
                </a>
            </div>

            <div class="work__card mix movil">
                <img src="hero_image.webp" alt="" class="work__img">
            
                <h3 class="work__title">Web Design</h3>
                <a href="#" class="work__button">
                    Demo <i class='bx bx-right-arrow-alt '></i>
                </a>
            </div>

        </div>
    </section>

    <script src="/mixitup.min.js"></script>
    <script src="main.js"></script>
</body>
</html>